
<h4 class="text-center magin-top">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
    <div class="d-grid gap-3 mx-auto">
        <div class="form-group">
            <input #userNameInput formControlName="userName" class="form-control" placeholder="user name" autofocus>
            <app-vmessage 
                *ngIf="userName?.errors?.['required']" 
                text="User name is required!">
            </app-vmessage>
        </div>
    
        <div class="form-group">
            <input formControlName="password" type="password" class="form-control" placeholder="password">
            <app-vmessage 
                *ngIf="password?.errors?.['required']" 
                text="password is required!">
            </app-vmessage>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary ">
                login
            </button>
        </div>

    </div>

</form>

<div class="d-grid gap-3 col-6 mx-auto">
    <p>Not a user? <a [routerLink]="['signup']">Register now</a></p>
</div>
